openapi: 3.0.3
info:
  title: Open Library API (book lookup)
  version: "1.0"
  description: >
    Minimal, hand-authored contract for the subset of the free, no-auth Open Library API
    (https://openlibrary.org) that library-api uses to look up book metadata by title or ISBN.
    Open Library publishes no official OpenAPI document; this is a lean approximation of its
    documented REST endpoints, not a vendor-issued spec.
servers:
  - url: https://openlibrary.org
components:
  schemas:
    SearchDoc:
      type: object
      properties:
        title: { type: string }
        author_name:
          type: array
          items: { type: string }
        isbn:
          type: array
          items: { type: string }
        cover_i: { type: integer, description: cover image id, used to build a cover URL }
        first_publish_year: { type: integer }
    SearchResponse:
      type: object
      properties:
        numFound: { type: integer }
        docs:
          type: array
          items: { $ref: '#/components/schemas/SearchDoc' }
    IsbnEdition:
      type: object
      properties:
        title: { type: string }
        authors:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
        covers:
          type: array
          items: { type: integer }
        publish_date: { type: string }
    Error:
      type: object
      properties:
        error: { type: string }
paths:
  /search.json:
    get:
      operationId: searchBooks
      summary: Search books by free-text title/author query
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
          description: title or author text to search for
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
      responses:
        '200':
          description: matching search docs
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchResponse' }
  /isbn/{isbn}.json:
    get:
      operationId: getEditionByIsbn
      summary: Resolve a specific ISBN to an edition record
      parameters:
        - name: isbn
          in: path
          required: true
          schema: { type: string }
          description: 10 or 13 digit ISBN
      responses:
        '200':
          description: the edition matching this ISBN
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IsbnEdition' }
        '404':
          description: no edition found for this ISBN
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /b/isbn/{isbn}-{size}.jpg:
    servers:
      - url: https://covers.openlibrary.org
    get:
      operationId: getCoverByIsbn
      summary: Fetch a book cover image by ISBN
      parameters:
        - name: isbn
          in: path
          required: true
          schema: { type: string }
        - name: size
          in: path
          required: true
          schema: { type: string, enum: [S, M, L] }
      responses:
        '200':
          description: cover image bytes (JPEG)
          content:
            image/jpeg:
              schema: { type: string, format: binary }
        '404':
          description: no cover found
